#gaby{
  width: 100%;
  height: 500px;
  display: flex;
}
.textoVideo1{
  width: 30%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.video{
  width: 69.5%;
  height: 500px;
  display: inline-block;
}
.video1{
  display: none;
}
#imagenVideo1{
  width: 100%;
  height: 100%;
  left: 30%;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.circulo{
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: rgba(51,52,71,.7);
     position: absolute;
     margin-left: 400px;
     top: 185px;
}
.triangulo{
       border-left: 50px solid #fff;
       border-top: 25px solid transparent;
       border-bottom: 25px solid transparent;
       margin-left: 30px;
       margin-top: 25px;
}
