  .signUp2 {
  
  border: 1px solid #566277;
  font-size: 17px;
  background: none;
  color: #333447;
  padding: .5rem .875rem;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}



.letra{
font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
font-size: 1rem;
line-height: 1.5;
color: #333447;

}

.margen{
  margin-left: 7%;
}
.sub {
  font-weight: 600;
  font-size: .875rem;
  top: 0;
  padding-bottom: .5rem;
}
.tit {
  margin-top: .5rem;
  font-size: 1.75rem;
  margin-top: .125rem;
}

#macky {
  display:flex;
  width: 100%;
  height: 27%;
}
.subir {
  top: -10%;
margin-bottom: 5%;
}
.segundo {
 top:20%;
  width: 40%;
  height: 25%;
}
.primer {
  top: 0;
  width: 40%;
  height: 25%;
}
.flex {
  display: flex;
}
.boton1 {
  margin-top: 6px;
}
.signUp2:hover {
  background-color: #e6e6e6;
}
