body{
	height: 100%;
  margin-top: 0px;
  margin-left: 0px;
	font-family: Helvetica,Arial,Lucida,sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color:#333447;
}
.bck{
  display: block;
  position: relative;
}
.inline-bck{
	display: inline-block;
}

.inline{
  display: inline;
}

.ocultar{
	display: none;
}

.espaciado{
	letter-spacing: 1.5px;
}

 .mayus{
	text-transform: uppercase;
}
/*Estilos para secciones de video*/
.divTextoVideo{
	width: 23%;
	padding: 5%;
  margin-top: 3%;
}
.flotarDer{
	float: right;
}
.limpiar{
	clear: both;
}
.flotarIz{
	float: left;
}

.videoDiv{
	width: 65%;
  cursor: pointer;
  border: 1px solid black;
}

.videoDiv > img{
  width: 100%;
  margin: 0px;
  /*border: 1px solid blue;*/
}

.video{
  display: none;
}

.circulo{
  /*Cambiar a absolute con clases generales*/
  position: relative;
  width: 10%;
  height: 80px;
  margin-top: 15%;
  margin-left: 30%;
  border-radius: 50%;
  background-color: rgba(110, 110, 119, 0.8);
}

span > img{
  /*cambiar a 90*/
  width: 5%;
  /*margin-top: 5%;
  margin-left: 5%;*/
}
